<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue-get started</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <p>{{fullName()}}</p>
      <hr />
      <label>First Name</label>
      <input type="text" v-model="firstName" />
      <label>Last Name</label>
      <!-- <input type="text" v-model="lastName" /> -->
      <input
        type="text"
        :value="lastName"
        @input="updateLastName($event, 'last name updated')" />
      <a :href="url" target="_blank">It's a link</a>
      <a :href="url" @click.prevent="count++">Count: {{count}}</a>
      <div v-html="raw_html"></div>
      <p>{{age}}</p>
      <button @click="increment">Increment</button>
      <button @click="age--">Decrement</button>
    </div>
    <!-- <div id="app2">
      <p>{{firstName}}</p>
      <p>{{lastName}}</p>
    </div> -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js"></script>
  </body>
</html>
